.jumbotron {
    
    background: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35464e00bbef1a93e6958980d587acb5&auto=format&fit=crop&w=1050&q=80') no-repeat center;
    background-size: cover;
    font-size: 175px;
}